body {
    margin: 0;
    text-align: center; 
    font-family: verdana, sans-serif;
    font-size: 30px;
}

.top-container {
    background-color: #CEEDC7;
    position: relative;
    padding-top: 100px;
}

#second-cloud-pic {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

#first-cloud-pic {
    position: absolute;
    right: 300px;
    top: 50px;
}

#main-page-header {
    margin-top: 0;
    font-size: 80px;
    font-family: 'Sacramento', cursive;
}

#main-intro {
    font-family: 'Montserrat Alternates', sans-serif;
}